<center><h1> Bienvenue sur Caramail ! </h1>
<br>
<%= form_tag url_for(action: 'create'), method: "post", remote: true do %>
    <%= submit_tag "Recevoir un email" %>
    <%end%>
    <br>
    </center>
<% # data-remote= 'true' %>
<div style= "Width:100%;display: flex">
<div style= "Width:50%">
<table class="table table-bordered">


  <thead>

    <tr>
      <th scope="col">#</th>
      <th scope="col">Liste des emails</th>
      
    </tr>
  </thead>
 
  <tbody >
    <%@emails.each do |mail| %>
    <tr id=<%=mail.id%>>
        <% if (mail.read == false) %>
      <th scope="row"><%= mail.id%></th>
      <td id=object.<%= mail.id%>><a href='/emails/<%=mail.id%>' data-method='PUT' data-remote ='true' ><p id=p.<%= mail.id%> style="font-weight: 950;" ><%=mail.object%></p></a></td>
      <% else %>
      <th scope="row"><%= mail.id%></th>
      <td id=object.<%= mail.id%>><a href='/emails/<%=mail.id%>'  data-method='PUT' data-remote ='true' ><p><%=mail.object%></p></a></td>
      <%end%>
    <%end%>
    </tr>
   
  </tbody>
  
</table>
</div>

<div id =showdiv , style= "Width:50%;border:solid 1px">
<h4 style='text-align:center'> Clique pour lire ton email </h4>
</div>
</div>

  
    