<center><h1> Bienvenue sur Caramail ! youpi ! </h1>
<br>
<%= form_tag url_for(action: 'create'), method: "post", remote: true do %>
    <%= submit_tag "Recevoir un email" %>
    <%end%>
    <br>
    </center>
<% # data-remote= 'true' %>
<div style= "Width:100%;display: flex">
<div style= "Width:50%">
<table class="table table-bordered">


  <thead>

    <tr>
      <th scope="col">#</th>
      <th scope="col">Liste des emails</th>
      
    </tr>
  </thead>
 
  <tbody >
  
    <%@emails.each do |mail| %>
    <tr id=<%=mail.id%>>
    
      <th scope="row"><%= mail.id%></th>
      <td id=object.<%= mail.id%>><a href='/emails/<%=mail.id%>' data-method='GET' data-remote ='true' ><%=mail.object%></a></td>
      
    <%end%>
    </tr>
   
  </tbody>
  
</table>
</div>

<div id =showdiv , style= "Width:50%;border:solid 1px">
<h3 style='text-align:center'> Clique pour lire ton email </h3>
</div>
</div>

  
    